.Item h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
  }
  
  .Item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .price {
    border-radius: 30px;
    padding: 0.15rem 1.5rem;
    background-color: #3a3a3a;
    font-size: 1.5rem;
  }
  
  .Item p {
    color: #ffff;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }